<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Paroquia Santa Ana Soledade</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div class="background">
		<div class="page">
			<div class="header">
				<a href="index.html" id="logo"><img src="images/" alt="logo"></a>
				<ul>
					<li>
						<a href="news.html">Noticias</a>
					</li>
					<li>
						<a href="">Time</a>
					</li>
					<li>
						<a href="">Eventos</a>
					</li>
					<li>
						<a href="">Videos</a>
					</li>
					<li>
						<a href="">Sobre</a>
					</li>
				</ul>
			</div>
			<div class="body home">
				<div>
					<div class="featured">
						<div>
							<h2>Paroquia <br> Santa Ana</h2>
							<p>
								Aqui você pode encontrar divulgação de eventos da paroquia Santa Ana, assim como imagens e videos de eventos já ocorridos.
							</p>
						</div>
					</div>
					<div>
						<div>
							<h3>Ultimos Videos</h3>
							<span><a href="videos.html">Todos os Videos</a></span>
							<ul>
								<li>
									<a href="videos.html"><img src="images/radio.jpg" alt=""></a>
									<h4>Rádio católica.</h4>
									<p>
										Ouça as mais novas noticias e as melhores músicas na ´radio católica.
									</p>
								</li>
								<li>
									<a href="videos.html"><img src="images/missa.jpg" alt=""></a>
									<h4>Transmição da missa ao vivo.</h4>
									<p>
										Assista a celebração da missa de onde estiver.
									</p>
								</li>
								<li>
									<a href="videos.html"><img src="images/palavras.jpg" alt=""></a>
									<h4>Ouça depoimentos.</h4>
									<p>
										Os depoimentos mais emocionantes para tornar o seu dia melhor.
									</p>
								</li>
							</ul>
						</div>
						<div>
							<h3>Destaques</h3>
							<span><a href="news.html">Todos os destaques</a></span>
							<ul>
								<li>
									<a href="news.html"><img src="images/padre.jpg" alt=""></a>
									<h4>Terço dos homens</h4>
									<p>
										Haverá no próximo domingo na igreja central o terço dos homens.
									</p>
								</li>
								<li>
									<a href="news.html"><img src="images/retiro.jpg" alt=""></a>
									<h4>Retiro Jovem</h4>
									<p>
										Será realizado no próximo final de semana, na cidade de Olivedos
										um retiro para os jovens católicos, confirme sua inscrição.
									</p>
								</li>
								<li>
									<a href="news.html"><img src="images/ejc.jpg" alt=""></a>
									<h4>Inscrições para o EJC</h4>
									<p>
										No próximo més serão realizadas as inscrições do evento mais esperado pelos
										jovens cristãos.
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="sidebar">
					<div class="news">
						<span>Ultimos Eventos</span>
						<ul>
							<li>
								<a href="news.html">Evento x</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Evento y</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Evento z</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
						</ul>
						<a href="news.html">Veja mais</a>
					</div>
					<div class="section">
						<span>Inscrições</span>
						<ul>
							<li>
								<a href="schedule.html">EJC</a> <span>23 Setembro 2018 9AM</span>
							</li>
							<li>
								<a href="schedule.html">ECC</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">Tal1</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">Tal2</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">Tal3</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
						</ul>
						<a href="schedule.html">Veja mais detalhes</a>
					</div>
					<div>
						<span>Pastorais</span>
						<ul>
							<li>
								<p>
									<a href="#">Pastoral x</a>
								</p>
							</li>
							<li>
								<p>
									<a href="#">Pastoral y</a>
								</p>
							</li>
							<li>
								<p>
									<a href="#">pastoral Z</a>
								</p>
							</li>
						</ul>
						<a href="goto/https://twitter.com/">Follow @paroquiasantaana <br> on Twitter</a>
					</div>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li class="selected">
							<a href="index.html">Home</a>|
						</li>
						<li>
							<a href="news.html">Noticias</a>|
						</li>
						<li>
							<a href="team.html">Time</a>|
						</li>
						<li>
							<a href="schedule.html">Eventos</a>|
						</li>
						<li>
							<a href="videos.html">Videos</a>|
						</li>
						<li>
							<a href="about.html">Sobre</a>
						</li>
					</ul>
					<p>
						&#169; ALR Soledade 2018. All Rights Reserved
					</p>
				</div>
				<div class="connect">
					<span>Follow Us</span> <a href="" id="fb">fb</a> <a href="" id="twitter">twitter</a> <a href="" id="googleplus">google+</a> <a href="" id="contact">contact</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>