<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Paroquia Sant'ana</title>

        <style>
            html {background-color: white}

            main {
                width: 955px;
                margin: -1px auto 10px;
                border: 1px solid #ddd;
                background-color: #FFF; font-family: Arial, Heveltica, sans-serif;
            }

            header {
                width: 955px;
                height: 95px;
            }
            <!-- navegacao -->
            nav{ width: 955px;
                background-color: black;}

            nav ul {list-style: none; margin: 0, padding:4px}
            nav ul li {display: inline-block}
            nav ul li a {font-size: 0.8em; text-decoration: none; color: #FFF;
            padding: 4px 20px }

            <!-- Cor quando passa o mouse por cima -->
            nav ul li a:houver  { background-color: aliceblue}

            <!-- Estilo do artigo -->
            article { float:left; margin:30px 20px; width: 600px}

            article header hgroup h5{
                margin:0;
                font-size: 1.1em;
                color: #ccc;
                font-weight: 100;
            }

            h1, h2, h4 {font-family:Georgia, "Times New Roman", Times, serif;
            color: #C63; font-styler:italic; letter-spcing:-0.05em
            }

    </head>

    <body>

            <main>
                <nav>
                    <li><a href="qq">Home</a></li>
    </body>


</html>