<!DOCTYPE html>
<!-- Website Paroquia Santa Ana Soledade, PB-->

<html>
<head>
	<meta charset="UTF-8">
	<title>News - Paroquia Santa ana Soledade</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
	<div class="background">
		<div class="page">
			<div class="header">
				<a href="index.html" id="logo"><img src="images/" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="news.html">Notícias</a>
					</li>
					<li>
						<a href="">Time</a>
					</li>
					<li>
						<a href="">Eventos</a>
					</li>
					<li>
						<a href="">Videos</a>
					</li>
					<li>
						<a href="">Sobre</a>
					</li>
				</ul>
			</div>
			<div class="body news">
				<div>
					<span>Notícias</span>
					<ul>
						<li>
							<a href=""><img src="../static/images/ejc.jpg" alt=""></a>
							<div>
								<h3>Inscrições para o EJC</h3>
								<span>22 Setembro 2018 | Postado por <span>ALR Web</span></span>
								<p>
									No próximo més serão realizadas as inscrições do evento mais esperado pelos
									jovens cristãos, fique ligado!
								</p>
								<a href="">Ver mais</a>
							</div>
						</li>
						<li>
							<a href=""><img src="../static/images/retiro.jpg" alt=""></a>
							<div>
								<h3>Retiro Jovem</h3>
								<span>22 Setembro 2018 | Postado por <span>ALR Web</span></span>
								<p>
									Será realizado no próximo final de semana, na cidade de Olivedos um retiro para os jovens católicos, confirme sua inscrição.
								</p>
								<a href="">Veja mais</a>
							</div>
						</li>
						<li>
							<a href=""><img src="../static/images/padre.jpg" alt=""></a>
							<div>
								<h3>Terço dos homens</h3>
								<span>22 Setembro 2018 | Postado por <span>ALR Web</span></span>
								<p>
									Haverá no próximo domingo na igreja central o terço dos homens, não deixe de ir.
								</p>
								<a href="news-single.html">veja mais</a>
							</div>
						</li>
						<li>
							<a href=""><img src="../static/images/flores.jpg" alt=""></a>
							<div>
								<h3>Outra notícia</h3>
								<span>22 Setembro 2018 | Postado por <span>ALR Web</span></span>
								<p>
									Se houvesse outra notícia, a descrição da mesma estaria aqui, mas 
									já é de madrugada e estou sem criatividade para isso.
								</p>
								<a href="">veja mais</a>
							</div>
						</li>
						<li>
							<a href=""><img src="../static/images/igreja.jpg" alt=""></a>
							<div>
								<h3>Outra notícia</h3>
								<span>22 Setembro 2018 | Postado por <span>ALR Web</span></span>
								<p>
									Se houvesse outra notícia, a descrição da mesma estaria aqui, mas 
									já é de madrugada e estou sem criatividade para isso.
								</p>
								<a href="">veja mais</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="sidebar">
					<div class="news">
					<span>Ultimos Eventos</span>
						<ul>
							<li>
								<a href="news.html">Evento x</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Evento y</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Evento z</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
							<li>
								<a href="news.html">Mais um evento</a> <span>Postado em 23 Setembro 2018</span>
							</li>
						</ul>
						<a href="news.html">Veja mais</a>
					</div>						
					<div class="section">
						<span>Inscrições</span>
						<ul>
							<li>
								<a href="">EJC</a> <span>23 Setembro 2018 9AM</span>
							</li>
							<li>
								<a href="">ECC</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
							<li>
								<a href="">Tal1</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
							<li>
								<a href="">Tal2</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
							<li>
								<a href="">Tal3</a> <span>23 Setembro 2018 @ 9AM</span>
							</li>
						</ul>
						<a href="">Veja mais detalhes</a>
					</div>
					
					<div>
						<span>Pastorais</span>
						<ul>
							<li>
								<p>
									<a href="#">Pastoral x</a>
								</p>
							</li>
							<li>
								<p>
									<a href="#">Pastoral y</a>
								</p>
							</li>
							<li>
								<p>
									<a href="#">pastoral Z</a>
								</p>
							</li>
						</ul>
						<a href="goto/https://twitter.com/">Follow @paroquiasantaana <br> on Twitter</a>
					</div>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li>
							<a href="index.html">Home</a>|
						</li>
						<li class="selected">
							<a href="news.html">News</a>|
						</li>
						<li>
							<a href="">Team</a>|
						</li>
						<li>
							<a href="">Schedule</a>|
						</li>
						<li>
							<a href="">Videos</a>|
						</li>
						<li>
							<a href="">About</a>
						</li>
					</ul>
					<p>
						&#169; ALR Soledade 2018. All Rights Reserved
					</p>
				</div>
				<div class="connect">
					<span>Follow Us</span> <a href="" id="fb">fb</a> <a href="" id="twitter">twitter</a> <a href="" id="googleplus">google+</a> <a href="t" id="">contact</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
